<footer class="section__container footer__container">
    <span class="bg__blur"></span>
    <span class="bg__blur footer__blur"></span>
    <div class="footer__col">
      <div class="footer__logo"><img src="assets/logo.png" alt="logo" /></div>
      <p>
          Da el primer paso hacia un tú más saludable y fuerte con 
          nuestros planes de precios imbatibles. 
          ¡Juntos sudaremos, alcanzaremos metas y venceremos!
      </p>
      <div class="footer__sociales">
        <a href="#"><i class="ri-facebook-fill"></i></a>
        <a href="#"><i class="ri-instagram-line"></i></a>
        <a href="#"><i class="ri-twitter-fill"></i></a>
      </div>
    </div>
    <div class="footer__col">
      <h4>Nuestra Compañía</h4>
      <a href="#">Negocios</a>
      <a href="#">Franquicia</a>
      <a href="#">Nuestra red</a>
    </div>
    <div class="footer__col">
      <h4>Sobre nosotros</h4>
      <a href="#">Blogs</a>
      <a href="#">Seguridad</a>
      <a href="#">Carreras</a>
    </div>
    <div class="footer__col">
      <h4>Contacto</h4>
      <a href="#">Contactanos</a>
      <a href="#">Politica de privacidad</a>
      <a href="#">Terminos y Condiciones</a>
     
    </div>
  </footer>
  <div class="footer__bar">
    Copyright © 2024 ElClubDeLaMerienda.
  </div>