@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
:root {
    --primary-color: #111317;
    --primary-color-light: #1f2125;
    --primary-color-extra-light: #35373b;
    --secondary-color: #f9ac54;
    --secondary-color-dark: #d79447;
    --text-light: #ce6a0c;
    --white: #ffffff;
    --max-width: 1200px;
  }
  h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-color-dark);
    font-size:xx-large;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
<<<<<<< HEAD

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-color);
  }


.header__content p{
    color: var(--white);
}

=======
>>>>>>> 2b64acf2217ed0b0a9e71a39b407ac3cb541cb91
.contenido{
    max-width: 1200px;
    width: 100%;
    margin: 80px auto;
    display: flex;
}
.mostrador{
    width: 100%;
    transition: .5s ease;
}
.mostrador .fila{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.mostrador .fila .item{
    max-width: 210px;
<<<<<<< HEAD
    padding: 10px;
=======
    padding: 30px;
>>>>>>> 2b64acf2217ed0b0a9e71a39b407ac3cb541cb91
    height: 250px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
<<<<<<< HEAD
    transition: .5s ease;
=======
    transition: .3s;
>>>>>>> 2b64acf2217ed0b0a9e71a39b407ac3cb541cb91
}
.mostrador .fila .item:hover{
    background-color: #e6e6e6;
}
.mostrador .fila .item img {
    width: 100%;
    height: 200px; 
<<<<<<< HEAD
    object-fit:contain;
=======
    object-fit: cover;
>>>>>>> 2b64acf2217ed0b0a9e71a39b407ac3cb541cb91
}
.mostrador .fila .item .descripcion{
    color: #b10e0e;
    font-weight: bold;
}
.mostrador .fila .item .precio{
    color: #f85151;
    font-weight: bold;
    font-size: 20px;
}
.seleccion{
    transition: .5s ease;
    opacity: 0;
    width: 0%;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.cerrar{
    position: absolute;
    right: 0;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.info{
    padding: 20px;
}
.info img{
    display: block;
    margin: 30px auto;
    width: 80%;
}

.info h2{
    color: #d9ba0d;
    margin-bottom: 10px;
}
.info p{
    font-size: 14px;
    color: #d9ba0d;
    margin-bottom: 10px;
}
.info .precio{
    font-size: 30px;
    font-weight: bold;
    color: #f85151;
    margin-bottom: 10px;
    display: block;
}
.info .fila{
    display: flex;
    align-items: flex-end;
}
.info .fila label{
    display: block;
    margin-bottom: 10px;
}
.info .fila select{
    width: 100px;
    font-size: 18px;
    padding: 6px;
    margin-right: 30px;
}
.info .fila button{
    height: 40px;
    border: none;
    padding: 0 10px;
    color: #fff;
    background-color: #f85151;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }
  
  .section__header {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    color: var(--white);
  }
  
  
  
  .bg__blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px var(--secondary-color);
    z-index: -1;
  }
  .header__imagen {
    position:relative;
  }
  
 
  .header__imagen img {
    max-width: 350px;
    margin-inline-end:auto;
  }
 
  .header__container {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
  }
  .footer__container {
    height:50px;
  line-height:50px;
  background:black;
  color:white;
  text-align:center;
  position:static;
  bottom:0;;
  left:0;
  width:100%;
  margin-top: 80px;
  }
  nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

    .nav__logo {
        position: relative;
        top: 20px;
        left: 20px;
        width: 50px; 
        height: 50px; 
        background-image: url('../../../assets/logo.png'); 
        background-size: contain; 
        background-repeat: no-repeat; 
        z-index: 9999; 
    }
    
  
  .nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
  }