<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>ElClubDeLaMeriendaGym</title>
  </head>
  <body>
    <nav>
      <div class="nav__logo">
        <a href="#"><img src="assets/logo.png" alt="logo" /></a>
      </div>
      <ul class="nav__links">
        <li class="link"><a routerLink="">Home</a></li>
        <li class="link"><a routerLink="">Programa</a></li>
        <li class="link"><a routerLink="">Servicios</a></li>
        <li class="link"><a routerLink="/faq">Sobre nosotros</a></li>
        <li class="link"><a routerLink="">Galería</a></li>
        <li class="link"><a routerLink="/tienda">Tienda</a></li>     
      </ul>
    </nav>
    <!-- <app-navigation></app-navigation> -->

    <header class="section__container header__container">
      <div class="header__content">
        <span class="bg__blur"></span>
        <span class="bg__blur header__blur"></span>
        
      </div>
      <div class="register__form">
        <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
         
          <div>

            <label>Email:</label>
            <input type="text" formControlName="email">
          </div>
          <div>
            <label>Contraseña:</label>
            <input type="text" formControlName="password">
          </div>
          <button class="btn" type="submit" [disabled]="!userForm.valid">Enviar</button>

          <label>¿Aun no tienes cuenta? </label><a routerLink="/register" style="color:aliceblue">Registrarse</a>
        </form>
      </div>
      
    </header>
     </body>
</html>
