<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>ElClubDeLaMeriendaGym</title>
  </head>

 <body>
    <app-navigation/>

	<section class="section__container class__container"> 
    <div class="explore__header">
      <h2 class="section__header">QUIENES SOMOS</h2>
      <div class="explore__nav">        
      </div>
    </div>
		
		<p>Somos un equipo apasionado por el fitness y el bienestar. Creemos que el ejercicio físico es una parte esencial de una vida sana 
      y feliz, y estamos comprometidos a ayudar a las personas a alcanzar sus objetivos de acondicionamiento físico.
		  Ofrecemos una amplia gama de servicios y clases para satisfacer las necesidades de todos. Tenemos algo para todos, 
      desde principiantes hasta atletas experimentados. Nuestro equipo de instructores expertos está aquí para guiarte y 
      apoyarte en cada paso del camino. Más que un gimnasio, somos una comunidad. Nos encanta crear un ambiente acogedor e inclusivo 
      donde todos se sientan bienvenidos. Nos enorgullecemos de apoyar a nuestros miembros y celebrar sus éxitos.
		  Nuestra misión es simple: ayudarte a alcanzar tu máximo potencial de fitness. Creemos que todos tienen el potencial de ser grandes, 
      y estamos aquí para ayudarte a descubrirlo.
		</p>

		<div class="explore__header">
      <h2 class="section__header">QUE NOS DIFERENCIA?</h2>
      <div class="explore__nav">        
      </div>
    </div>
		
		<p>Un equipo apasionado y experimentado: Nuestros instructores son profesionales certificados que aman lo que hacen. 
       Están aquí para ayudarte a alcanzar tus objetivos de manera segura y efectiva.
		   Una amplia gama de servicios y clases: Ofrecemos algo para todos, sin importar tu nivel de experiencia o tus intereses.
		   Un ambiente acogedor e inclusivo: Nos enorgullecemos de crear un espacio donde todos se sientan bienvenidos y apoyados.
		   Un compromiso con tu éxito: Estamos aquí para ayudarte a alcanzar tus objetivos de fitness y mejorar tu vida.
		   Si estás buscando un gimnasio que te ayude a alcanzar tus objetivos de fitness, no busques más.
       Ven a visitarnos hoy y descubre la diferencia que podemos hacer.
		
		<br>
		¡Juntos, podemos lograr grandes cosas!
		</p>
	</section>

  <section class="section__container explore__container">
    <div class="explore__header">
      <h2 class="section__header">NUESTROS PROFES</h2>
      <div class="explore__nav">        
      </div>
    </div>

    <div class="explore__grid">
      <div class="explore__card">
        <span><i class=""></i></span>
        <h4>Felipe Ojeda</h4>
        <p>
          Licenciado en Educación Física con especialidad en Musculatura
        </p>
      </div>

      <div class="explore__card">
        <span><i class=""></i></span>
        <h4>Brenda Ortega</h4>
        <p>
          Licenciado en Educación Física con especialidad en Gimnasia Artística 
          y Danzas Cntemporaneas.
        </p>  
      </div>

      <div class="explore__card">
        <span><i class=""></i></span>
        <h4>David Mercado</h4>
        <p>
          Profesor en Educación Física con especialidad en Aerobox 
          y Crossfix.
        </p>        
      </div>

    </div>
  </section>


<app-footer/>

  </body>
</html>

