<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>ElClubDeLaMeriendaGym</title>
  </head>
  <body>
    <nav>
      <div class="nav__logo">
        <a href="#"><img src="assets/logo.png" alt="logo" /></a>
      </div>
      <ul class="nav__links">
        <li class="link"><a href="#">Home</a></li>
        <li class="link"><a href="#">Programa</a></li>
        <li class="link"><a href="/services">Servicios</a></li>
        <li class="link"><a href="/faq">Sobre nosotros</a></li>
        <li class="link"><a href="#">Galería</a></li>
      </ul>
      <button class="btn"><a href="/register" routerLinkActive="router-link-active" >Unete ahora!</a></button>
    </nav>
    <!-- <app-navigation></app-navigation> -->

    <header class="section__container header__container">
      <div class="header__content">
        <span class="bg__blur"></span>
        <span class="bg__blur header__blur"></span>
        <h4>EL MEJOR GIMNASIO DE TU CIUDAD</h4>
        <h1><span>LOGRA</span> TU MEJOR FORMA</h1>
        <p>
            Libera tu potencial y emprende un viaje hacia un tú más fuerte, 
            en forma y con más confianza. Inscríbete en Nuestro gimnasio ahora 
            y ¡sé testigo de la increíble transformación de la que tu cuerpo es capaz!
        </p>
        <button class="btn">Empecemos</button>
      </div>
      <div class="header__imagen">
        <img src="assets/header.png" alt="header" />
      </div>
    </header>

    <section class="section__container explore__container">
      <div class="explore__header">
        <h2 class="section__header">EXPLORA NUESTRO PROGRAMA</h2>
        <div class="explore__nav">
          
        </div>
      </div>
      <div class="explore__grid">
        <div class="explore__card">
          <span><i class="ri-boxing-fill"></i></span>
          <h4>Fortalecimiento</h4>
          <p>
            Abraza la esencia de la fuerza mientras profundizamos en sus diversas dimensiones: 
            física, mental y emocional.
          </p>
          <a href="#">Unete! <i class="ri-arrow-right-line"></i></a>
        </div>
        <div class="explore__card">
          <span><i class="ri-heart-pulse-fill"></i></span>
          <h4>Fitness</h4>
          <p>
            Engloba una gama de actividades que mejoran la salud, 
            la fuerza, la flexibilidad y el bienestar general.
          </p>
          <a href="#">Unete! <i class="ri-arrow-right-line"></i></a>
        </div>
        <div class="explore__card">
          <span><i class="ri-run-line"></i></span>
          <h4>Pérdida de peso</h4>
          <p>
            A través de una combinación de rutinas de entrenamiento y la guía de expertos,
             te ayudaremos a alcanzar tus objetivos.
          </p>
          <a href="#">Unete! <i class="ri-arrow-right-line"></i></a>
        </div>
        <div class="explore__card">
          <span><i class="ri-shopping-basket-fill"></i></span>
          <h4>Hipertrofia</h4>
          <p>
            Diseñado para una persona o un grupo, nuestro programa 
            ofrece un enfoque efectivo para aumentar de peso de manera sostenible..
          </p>
          <a href="#">Unete!<i class="ri-arrow-right-line"></i></a>
        </div>
      </div>
    </section>

    <section class="section__container class__container">
      <div class="class__image">
        <span class="bg__blur"></span>
        <img src="assets/class-1.jpg" alt="class" class="class__img-1" />
        <img src="assets/class-2.jpg" alt="class" class="class__img-2" />
      </div>
      <div class="class__contenido">
        <h2 class="section__header" id="programa">Desbloquea tu potencial: La clase que te empodera</h2>
        <p>
            De la mano de nuestro equipo de instructores expertos y motivadores, 
            "Fitness" es una sesión dinámica y orientada a resultados
             que combina una mezcla perfecta de ejercicios cardiovasculares, 
             de fuerza y funcionales. Cada clase está cuidadosamente diseñada
              para mantenerte motivado y desafiado, 
            asegurándote que nunca te estanques en tu camino hacia el resultado deseado.
        </p>
        <button class="btn">Reservar una Clase</button>
      </div>
    </section>

    <section class="section__container join__container">
      <h2 class="section__header">POR QUE ENTRENAR AQUÍ ?</h2>
      <p class="section__subheader">
        Nuestra comunidad diversa crea un ambiente amigable y solidario, 
        donde puedes hacer amigos y mantenerte motivado.
      </p>
      <div class="unirse__image">
        <img src="assets/unirse.jpg" alt="Unirse" />
        <div class="unirse__grid">
          <div class="unirse__card">
            <span><i class="ri-user-star-fill"></i></span>
            <div class="join__card__content">
              <h4>Personal Trainer</h4>
              <p>Desbloquea todo tu potencial con nuestros entrenadores expertos</p>
            </div>
          </div>
          <div class="unirse__card">
            <span><i class="ri-vidicon-fill"></i></span>
            <div class="unirse__card__content">
              <h4>Sesiones especiales</h4>
              <p>En caso de no poder asistir a tu clase, puedes pedirle a un entrenador
                que te de una clase en otro horario.
              </p>
            </div>
          </div>
          <div class="unirse__card">
            <span><i class="ri-building-line"></i></span>
            <div class="unirse__card__content">
              <h4>Personal comprometido</h4>
              <p>Nuestro staff esta 100% comprometido con su trabajo, ayudandote
                cuando lo necesites.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section__container precio__container">
      <h2 class="section__header">NUESTROS PRECIOS</h2>
      <p class="section__subheader">
        Nuestro plan de precios ofrece distintos niveles de membresía, 
        cada uno diseñado para adaptarse
         a diferentes preferencias y objetivos de acondicionamiento físico.
      </p>
      <div class="precio__grid">
        <div class="precio__card">
          <div class="precio__card__content">
            <h4>Plan Basico </h4>
            <h3>$16OOO</h3>
            <p>
              <i class="ri-checkbox-circle-line"></i>
              Plan de entrenamiento inteligente (HIIT, circuito)
            </p>
            <p>
              <i class="ri-checkbox-circle-line"></i>
              Ejercicios en casa
            </p>
          </div>
          <button class="btn precio__btn">Unete ahora!</button>
        </div>
        <div class="precio__card">
          <div class="precio__card__content">
            <h4>Plan semanal</h4>
            <h3>$25000</h3>
            <p>
              <i class="ri-checkbox-circle-line"></i>
              Gimnasio premium (pase ilimitado)
            </p>
            <p>
              <i class="ri-checkbox-circle-line"></i>
              Plan de entrenamiento inteligente (HIIT, circuito)
            </p>
            <p>
              <i class="ri-checkbox-circle-line"></i>
              Ejercicios en casa
            </p>
          </div>
          <button class="btn precio__btn">Unete ahora!</button>
        </div>
        <div class="precio__card">
          <div class="precio__card__content">
            <h4>Plan mensual</h4>
            <h3>$45000</h3>
            <p>
              <i class="ri-checkbox-circle-line"></i>
              Pase libre al gym y clases
            </p>
            <p>
              <i class="ri-checkbox-circle-line"></i>
              Reasignación de horarios para clases
            </p>
            <p>
              <i class="ri-checkbox-circle-line"></i>
              Plan de entrenamiento inteligente (HIIT, circuito)
            </p>
            <p>
              <i class="ri-checkbox-circle-line"></i>
              Ejercicios en casa
            </p>
            <p>
              <i class="ri-checkbox-circle-line"></i>
              Personal Trainer
            </p>
          </div>
          <button class="btn precio__btn">Unete ahora!</button>
        </div>
      </div>
    </section>

   
    <footer class="section__container footer__container">
      <span class="bg__blur"></span>
      <span class="bg__blur footer__blur"></span>
      <div class="footer__col">
        <div class="footer__logo"><img src="assets/logo.png" alt="logo" /></div>
        <p>
            Da el primer paso hacia un tú más saludable y fuerte con 
            nuestros planes de precios imbatibles. 
            ¡Juntos sudaremos, alcanzaremos metas y venceremos!
        </p>
        <div class="footer__sociales">
          <a href="#"><i class="ri-facebook-fill"></i></a>
          <a href="#"><i class="ri-instagram-line"></i></a>
          <a href="#"><i class="ri-twitter-fill"></i></a>
        </div>
      </div>
      <div class="footer__col">
        <h4>Nuestra Compañía</h4>
        <a href="#">Negocios</a>
        <a href="#">Franquicia</a>
        <a href="#">Nuestra red</a>
      </div>
      <div class="footer__col">
        <h4>Sobre nosotros</h4>
        <a href="#">Blogs</a>
        <a href="#">Seguridad</a>
        <a href="#">Carreras</a>
      </div>
      <div class="footer__col">
        <h4>Contacto</h4>
        <a href="#">Contactanos</a>
        <a href="#">Politica de privacidad</a>
        <a href="#">Terminos y Condiciones</a>
       
      </div>
    </footer>
    <div class="footer__bar">
      Copyright © 2024 ElClubDeLaMerienda.
    </div>
  </body>
</html>